name: Test CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Firefox
        run: |
          sudo apt-get update
          sudo apt-get install -y firefox-esr firefox-geckodriver
          echo "FIREFOX_PATH=$(realpath $(which firefox))" >> $GITHUB_ENV
      - run: npm ci

      - name: Check Firefox installation
        run: ls /usr/bin/firefox
  
      - run: node node_modules/mocha/bin/mocha test --exit
        env:
          CI: true
          FIREFOX_PATH: /usr/bin/firefox